body {
	background-color: #2E7A31;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: GhostWhite;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: GhostWhite;
	text-shadow: 0px 2px 4px black;
	margin-top: 32px;
}
th {
	background-color: #1F5422;
	color: White;
}
table, th, td {
  border: 0px;
}
table {
	width: 100%;
}

/* unvisited link */
a:link {
  color: #5EFF5E;
}

/* visited link */
a:visited {
  color: #5EFF5E;
}

/* mouse over link */
a:hover {
  color: #5EFF5E;
}

/* selected link */
a:active {
  color: #5EFF5E;
}

.tg .tg-hleft{border-color:inherit;font-weight:bold;position:-webkit-sticky;position:sticky;text-align:left;top:-1px;
  vertical-align:top;will-change:transform}
.tg .tg-bleft{border-color:inherit;text-align:left;vertical-align:top}

tr:hover {background-color: #46BF46 !important;}
tr:nth-child(even) {background-color: #3CA33F;}
tr:nth-child(odd) {background-color: #37963C;}