body {
	background-color: SpringGreen;
}
th, td {
	background-color: SpringGreen;
}
th {
  background-color: SeaGreen;
  color: white;
}
tr:hover {background-color: #00e56e;}
tr:nth-child(even) {background-color: PaleGreen;}